{% extends 'bases/baselogado.html' %}
{% load static %}
{% block conteudo %}

<body>
    <div class="container topobjetivo">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                {% for solcitacao in list_solicitacoes %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                            {% if solcitacao.fotoImagem %}
                                <img src="{{solcitacao.fotoImagem.url}}" class="d-block w-100" alt="..." class="rounded">
                            {% else %}
                                <img src="{% static 'images/undraw_not_found_re_bh2e.svg' %}" class="d-block w-100 img-thumbnail" alt="..." class="rounded">
                            {% endif %}
                            <div class="carousel-caption d-none d-md-block text-bg-secondary">
                                <h5>{{solcitacao.titulo}}</h5>
                                <p>{{solcitacao.resumo|slice:":255"}}</p>
                            </div>
                        </div> 
                    {% else %}
                        <div class="carousel-item">
                            {% if solcitacao.fotoImagem %}
                                <img src="{{solcitacao.fotoImagem.url}}" class="d-block w-100 max-" alt="..." class="rounded">
                            {% else %}
                                <img src="{% static 'images/undraw_not_found_re_bh2e.svg' %}" class="d-block w-100 img-thumbnail" alt="..." class="rounded">
                            {% endif %}
                            <div class="carousel-caption d-none d-md-block text-bg-secondary">
                                <h5>{{solcitacao.titulo}}</h5>
                                <p>{{solcitacao.resumo|slice:":255"}}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}  
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        
    </div>
</body>

{% endblock %}