.topobjetivo{
    margin-top: 9%;
}
.tituloIndex{
    margin-top: 9%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
}
.topperfildetail{
    margin-top: 9%;
}
.titulodetailsolicitacao{
    margin-top: 5%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
}
.tituloIndexcadastro{
    margin-top: 9%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
}
.titulocriarconta{
    margin-top: 9%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
}
.form-group {
    margin-bottom: 20px;
}
.center{
    align-items: center;
}
a{
    text-decoration: none;
}

@media only screen and (max-width:490px){
    .tituloIndex{
        margin-top: 22%;
        font-family: 'Fira Sans', sans-serif;
        font-size: 50px;
    }
    .topobjetivo{
        margin-top: 22%;
    }
    .titulodetailsolicitacao{
        margin-top: 5%;
        font-family: 'Fira Sans', sans-serif;
        font-size: 25px;
    }
    .topperfildetail{
        margin-top: 22%;
    }
    .tituloIndexcadastro{
        margin-top: 22%;
        font-family: 'Fira Sans', sans-serif;
        font-size: 25px;
    }
    .titulocriarconta{
        margin-top: 24%;
        font-family: 'Fira Sans', sans-serif;
        font-size: 25px;
    }
}
