{% extends 'bases/baselogado.html' %}
{% load static %}
{% load bootstrap %}
{% block conteudo %}

    <style>
        .top{
            margin-top: 8%;
        }
        .tituloIndex{
            margin-top: 10%;
            font-family: 'Fira Sans', sans-serif;
            font-size: 35px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .center{
            align-itens: center
        }
        a{
            text-decoration: none;
        }
    </style>
    <div class="container top">
        <div class="row row-cols-12 row-cols-md-3 g-4 align-items-stretch">
            {% for solcitacao in list_solicitacoes %}
                <div class="col">
                    <div class="card p-2 h-100">
                        <img src="{{solcitacao.fotoImagem.url}}" alt="{{solcitacao.titulo}}" width="400" height="354">
                        <div class="card-body">
                            <h5 class="card-title">{{solcitacao.titulo}}</h5>
                            <a href="{% url 'perfil' solcitacao.usuario.id %}" class="text-muted">{{solcitacao.usuario.nome_completo}}</a>
                            <br>
                            <span class="badge rounded-pill text-bg-dark">{{solcitacao.tipo}}</span>
                            <p class="card-text mt-2">{{solcitacao.resumo|linebreaksbr|truncatechars:100}}</p>
                            <a href="{% url 'ver_solicitacao' solcitacao.id %}">Ver Mais</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-body-secondary">{{solcitacao.horarioCriacao}}</small>
                        </div>
                    </div>                    
                </div>
            {% endfor %}  
        </div>        
    </div>
{% endblock %} 