{% extends 'bases/baselogado.html' %}
{% load static %}
{% load bootstrap %}
{% block conteudo %}

<div class="container">
    <p class="tituloIndexcadastro">Pedir Doação</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media}}
        {{ form|bootstrap }}
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-dark rounded-pill" type="submit">Cadastrar</button>
        </div>
    </form>  
</div>
<script>
    var elemento = document.getElementById("id_fotoImagem");
    elemento.classList.add("form-control");
</script>

{% endblock %} 