{% extends 'bases/baselogado.html' %}
{% load static %}
{% load bootstrap %}
{% block conteudo %}

    <div class="container top text-center">
        <p class="tituloIndexcadastro">Redefinição de senha enviada</p>
        <form role="form" method="post" class="d-flex justify-content-center">  
            <div class="col col-lg-6">
                <div class="form-floating mb-3">
                    <p class="text-muted">Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido. Você receberá a mensagem em breve.</p>
                    <p class="text-muted">Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado, e verifique sua pasta de spam.</p>
                    <p class="text-muted">Equipe Mãos Amigas!</p>
                </div>           
            </div>                            
        </form>        
    </div>

{% endblock %} 