{% extends 'bases/baselogado.html' %}
{% load static %}
{% load bootstrap %}
{% block conteudo %}

    <div class="container top text-center">
        <p class="tituloIndexcadastro">Redefinição de senha completa</p>
        <form role="form" method="post" class="d-flex justify-content-center">  
            <div class="col col-lg-6">
                <div class="form-floating mb-3">
                    <p class="text-muted">Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
                    <p class="text-muted">Equipe Mãos Amigas!</p>
                    <a href="{% url 'login' %}">Clique para acessar!</a>
                </div>           
            </div>                            
        </form>        
    </div>

{% endblock %} 