{% extends 'bases/baselogado.html' %}
{% load static %}
{% load bootstrap %}
{% block conteudo %}

    <div class="container top text-center">
        <p class="tituloIndexcadastro">Confirmação de recuperação de senha </p>
        <p class="text-muted">Por favor, informe sua nova senha duas vezes para que possamos verificar se você a digitou corretamente.</p>
        <p class="text-muted lh-1 font-monospace">1 - Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</p>
        <p class="text-muted lh-1 font-monospace">2 - Sua senha precisa conter pelo menos 8 caracteres.</p>
        <p class="text-muted lh-1 font-monospace">3 - Sua senha não pode ser uma senha comumente utilizada.</p>
        <p class="text-muted lh-1 font-monospace">4 - Sua senha não pode ser inteiramente numérica.</p>
        <form role="form" method="post" class="d-flex justify-content-center">
            {% csrf_token %}    
            <div class="col col-lg-6">
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="new_password1" id="id_new_password1">
                    <label for="id_new_password1">Nova Senha</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="new_password2" id="id_new_password2">
                    <label for="id_new_password2">Confirmação de senha</label>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-dark rounded-pill" type="submit">Enviar</button>
                </div>            
            </div>                            
        </form>        
    </div>

{% endblock %} 