{% extends 'bases/baselogado.html' %}
{% load static %}
{% block conteudo %}

<div class="topperfildetail">
    <div class="container">
        <h3>Relatório sobre a solicitação '{{object}}'</h3>
        <hr>
        <div class="row text-center">
            <div class="col-sm-6">
                <div class="card border-primary">
                    <div class="card-body">
                        <h5 class="card-title">Visualizações no mês</h5>
                        <h1 class="card-text">{{qtd_list_acessos_mes}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ">
                <div class="card border-danger">
                    <div class="card-body">
                        <h5 class="card-title">Visualização total</h5>
                        <h1 class="card-text">{{qtd_list_acessos}}</h1>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %} 