{% extends 'bases/baselogado.html' %}
{% load static %}
{% load bootstrap %}
{% block conteudo %}

    <div class="container top text-center">
        <p class="tituloIndexcadastro">Redefinir Senha</p>
        <form role="form" method="post" class="d-flex justify-content-center">
            {% csrf_token %}    
            <div class="col col-lg-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="id_email" placeholder="ada.lovelace">
                    <label for="id_email">E-mail</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-dark rounded-pill" id='RecuperarSenha' type="submit">Enviar</button>
                </div>  
                <div class="RespostaAjax" id="Resposta"></div>          
            </div>                            
        </form>        
    </div>
    <script>
        $(document).ready(function() {
            $("#id_email").change(function() {
                var Email = $("#id_email").val();
    
                // Verifica se o campo de email não está vazio
                if (Email.trim() !== '') {
                    $.ajax({
                        url: "{% url 'AjaxVerificarEmail' %}",
                        data: {
                            "Email": Email,
                        },
                        dataType: 'json',
                        success: function(data) {
                            $(".Texto").hide();
                            if (data.is_taken) {
                                // Email existe na base de dados, então envie a requisição de recuperação de senha
                                $("#RecuperarSenha").prop("disabled", false); // Habilita o botão de envio da senha
                                var area = document.getElementById('Resposta');
                                area.innerHTML = "E-mail correto!"
                                $("#Resposta").addClass("Correct");
                            } else {
                                // Email não existe na base de dados, exibe a mensagem de erro
                                var area = document.getElementById('Resposta');
                                area.innerHTML = data.error_message
                                $("#id_email").addClass("form-control is-invalid");
                                $("#Resposta").addClass("Invalid");
                                $("#RecuperarSenha").prop("disabled", true); // Desabilita o botão de envio da senha
                                setTimeout(function() { location.reload(); }, 2000);
                                $("#id_email").val("");
                            }
                        }
                    });
                } else {
                    // Campo de email vazio, você pode tomar ações adicionais aqui, se necessário
                }
            });
        });
    </script>
    
    
{% endblock %} 