{% extends 'bases/baselogado.html' %}
{% load static %}
{% load bootstrap %}
{% block conteudo %}

    <div class="container top text-center">
        <p class="tituloIndexcadastro">Redefinir Senha</p>
        <form role="form" method="post" class="d-flex justify-content-center">
            {% csrf_token %}    
            <div class="col col-lg-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="id_email" placeholder="ada.lovelace">
                    <label for="id_email">E-mail</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-dark rounded-pill" type="submit">Enviar</button>
                </div>            
            </div>                            
        </form>        
    </div>

{% endblock %} 